body {
    font-family: 'Roboto', sans-serif;
    background-color: #202020;
    color: #E5E5E5;
}

.topnav {
    background-color: #172d44;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #E5E5E5;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.hover {
    background-color: #ddd;
    color: black;
}

iframe {
    margin: auto;
    width: 50%;
    padding: 10px;
}